extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block page_body
  .posts.posts--single
    ul.posts__inner
      li.posts__item
        article.post.post--full
          .post__inner
            h1.post__title= page.title
            if page.featuredImage
              img.post__featured-image(src=url_for(page.path + page.featuredImage))
            //- .post__excerpt!= page.excerpt
            .post__content!= page.content
            hr

  //- include _partial/post/list_pagination