doctype html
html(lang="en")

  head
    include _partial/head

  body
    include _partial/symbol-defs.svg
    .main
      .main__inner
        header.main-header
          block main_header
            .main-header__inner
              .main-header__masthead
                .main-header__logo
                  img(src='/img/logo.svg')
                .main-header__title= site.title
                .main-header__hamburger
                  svg.main-header__icon.icon-menu
                    use(xlink:href="#icon-menu")
              .main-header__nav.main-header__nav--left
                a(href='/') all
                a(href='/posts') posts
                a(href='/projects') projects
              
              .main-header__nav.main-header__nav--right
                a(href='/about-contact') about & contact
                a(href='https://twitter.com/arccoza') 
                  |twitter
                  svg.main-header__icon.icon-twitter
                    use(xlink:href="#icon-twitter")
                a(href='https://github.com/arccoza') 
                  |github
                  svg.main-header__icon.icon-github
                    use(xlink:href="#icon-github")
        block main_quotes
          

        section.main-body
          block main_body

        footer.main-footer
          block main_footer
            .main-footer__inner
              span Site, content, and logo &copy; copyright 2016 Adrien de Pierres.
            //- include _partial/site/footer
