extends base

block main_quotes
  .quotes
    blockquote
      |Up yours, Zoidberg! Up wherever your species traditionally crams things.
      br
      |- Hermes

block main_body
  .posts.posts--list
    ul.posts__inner
      each post in pagination.files
        li.posts__item
          article.post.post--compact(data-classy-state="hover")
            .post__inner
              .post__title
                h2
                  a(href='/' + post.path)= post.title
              .post__body
                div(style="position:relative; display:table-cell; overflow:hidden;")
                  if post.featuredImage
                    //- img.post__featured-image(src='/img/' + post.featuredImage)
                    .post__featured-image(style='background-image:url(#{"/img/" + post.featuredImage})')
                  .post__excerpt!= post.excerpt
                  a.post__read-more(href='/' + post.path)
                    .post__button Read More
          .posts__date= post.date.format('YYYY MMM Do')

  //- include _partial/post/list_pagination